# export LIMELIGHT_DB_DSN="postgres://limelight:pass123@localhost:5432/limelight"

## format: postgres://user:password@host:port/dbname?query

## If errors with no SSL on server, use
export LIMELIGHT_DB_DSN="postgres://limelight:pass123@localhost:5432/limelight?sslmode=disable"
export REDIS_URL="localhost:6379"
