# For HTTPS
# localhost {
#     respond /debug/* "Not Permitted" 403
#     reverse_proxy http://api:4000
# }

# For HTTP
http://localhost {
    respond /debug/* "Not Permitted" 403
    reverse_proxy http://api:4000
}
